body {
    background-color: green;
    align-items: center;
    display: flex;
    flex-direction: column;
}
.allRestaurants{
    display: flex;
    flex-direction: column;
}
.item-img{
    width: 550px;
    height: 400px;
}
.names{
   color: black; 
}